:root {
    background-color: gray;
}
#main {
    border-color: black;
    border-style: solid;
    width: 75vh;
    height: 90vh;
    margin: 75px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    background-color: antiquewhite;
    
}
.imgContainer {
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end:   4;
    border-radius: 10px;
}
.imgContainer>img {
    max-width: 100%;
    width: 44vh;
    min-width: 200px;
    min-height: 50;
    height: 100%;
    
}
#main>.summaryContainer{
    padding-top: 20px;
}
#main>.signUpContainer{
    padding-top: 100px;
}
