:root {
    background-color: gray;
    font-family: monospace, Dekko;
}
h3{
    font-size: 15px;
}
#main {
    border-color: black;
    border-style: solid;
    width: 65vw;
    height: 90vh;
    margin: 75px auto auto auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: darkolivegreen;
    border-top-left-radius: 10px;
    overflow: hidden;
    
}
.imgContainer {
    overflow: hidden;
    grid-row-start: 1;
    grid-row-end:   4;
}
.imgContainer>img {
    max-width: 100%;
    width: 44vw;
    min-width: 200px;
    min-height: 50px;
    height: 100%;
    
}
#main>.summaryContainer{
    padding-top: 20px;
    border-bottom-style: outset;
    border-bottom-width: 5px;
    padding-left: 10px;
}
#main>.formContainer{
    padding: 10px;
}
#main>.formContainer>.formInputs{
    display: grid;
    grid-template: auto/ 1fr 1fr;
    justify-items: center;
    
    

}
#main>.signUpContainer{
    padding-top: 100px;
    padding-left: 10px;
    border-top-style: inset;
}
.input{
    width: 90px;
}
