#main {
    border-color: black;
    border-style: solid;
    width: 60vh;
    height: 70vh;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-top: 100px;
    display: flex;
    padding: 2vh;
    gap: 2vh;
}
.imgContainer {
    
    overflow: hidden;
}
.imgContainer>img {
    max-width: 45%;
    min-width: 150px;
    min-height: 50;
    height: 100%;
}